body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

/* HEADER */

.anime-details .header {
  position: relative;
}

.anime-details .image-card {
  position: relative;
}

.anime-details img {
  width: 20%;
  margin-top: calc(100% - 215%);
  margin-left: calc(100% - 95%);
  border-radius: 15px;
  position: relative;
}

.anime-details .header .title-header {
  width: 100%;
  padding: 20% 0px 0px;
}

.anime-details .header .title-description {
  background: #007CEF;
}

.anime-details .title-header .title-content {
  margin-left: calc(100% - 73%);
}

.anime-details .header .title-description-body {
  margin-left: calc(100% - 73%);
}

.anime-details .title-header .title-content .title {
  margin-bottom: 0px;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
}

.anime-details .title-header .title-content .english-title {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #FFFFFF;
}

.anime-details
.title-description
.title-description-body {
  color: #FFFFFF;
}

.anime-details
.title-description
.title-description-body p{
  margin-bottom: 0px;
  margin-top: 0px;
}

.anime-details
.title-description
.title-description-body
.description-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 30px;
}

.anime-details
.title-description
.title-description-body
.description-top
.quantity {
  display: flex;
  justify-content: space-between;
}

.anime-details
.title-description
.title-description-body
.description-top
>p {
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}

.anime-details
.title-description
.title-description-body
.description-top
.quantity 
span {
  font-weight: bold;
}

.anime-details
.title-description
.title-description-body
.description-top
.quantity div {
  padding: 10px;
  font-size: 14px;
}

.anime-details
.title-description
.title-description-body
.synopsis-description {
  font-size: 11px;
  font-weight: 100;
}

.anime-details
.title-description-tags {
  background: #007CEF;
  color: #FFFFFF;
  margin-top: -25px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.anime-details
.title-description-tags
.tags {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 3px solid #006DD3;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 20px;
}

.anime-details
.title-description-tags
.tags
div {
  padding: 10px;
  font-size: 14px;
  font-weight: 100;
}

.anime-details
.title-description-tags
.tags
div
span {
  font-weight: bold;
}

.anime-details
.title-description-tags
.score-tag {
  margin-left: calc(100% - 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: #FF9700;
  border-radius: 15px;
}

.anime-details
.title-description-tags
.score-tag
.score-title {
  font-weight: bold;
}

.anime-details
.title-description-tags
.score-tag
.score-points {
  font-size: 40px;
  font-weight: bold;
}

.anime-details
.title-description-tags
.score-tag
.score-by {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.anime-details
.title-description-tags
.score-tag
.score-by span {
  padding: 5px;
}

/* BODY ANIME DETAILS*/

/* MENU NAV BAR */
.anime-details-body-container
.anime-details-body-nav-bar
.menu-details {
  display: flex;
  justify-content: flex-start;
}

.anime-details-body-container
.anime-details-body-nav-bar
.menu-details
li {
  list-style-type: none;
  cursor: pointer;
  margin: 10px;
}

/* VIDEO LIST */
.anime-details-body-container
.anime-details-body-content
.video-list-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

.anime-details-body-container
.anime-details-body-content
.video-list-content
.video-episode {
  width: 100%;
  display: inline-block;
  background: rgb(0 0 0 / 40%);
  border-radius: 10px;
}

.anime-details-body-container
.anime-details-body-content
.video-list-content
.video-episode
a {
  display: flex;
  justify-content: center;
  position: relative;
}

.anime-details-body-container
.anime-details-body-content
.video-list-content
.video-episode
a img {
  border-radius: 10px;
}

.anime-details-body-container
.anime-details-body-content
.video-list-content
.video-episode
.video-info-container {
  font-size: 11px;
  color: #FFFFFF;
  padding: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgb(0 0 0 / 40%);
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 0px 0px 10px 10px;
}

/* CHARACTERS AND STAFF LIST */

.anime-details-body-container
.anime-details-body-content
.anime-characters-and-staff-content
.characters-and-staff-content {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.anime-details-body-container
.anime-details-body-content
.anime-characters-and-staff-content
.characters-and-staff-content
.character-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #DAECFC;
  border-radius: 10px;
  padding: 10px;
}

.anime-details-body-container
.anime-details-body-content
.anime-characters-and-staff-content
.characters-and-staff-content
.character-description
.voice-actors {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.anime-details-body-container
.anime-details-body-content
.anime-characters-and-staff-content
.characters-and-staff-content
.character-description
.voice-actors .voice-actor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  background: #FFFFFF;
  border-radius: 10px;
}

.anime-details-body-container
.anime-details-body-content
.anime-characters-and-staff-content
.characters-and-staff-content
.character-description
.voice-actors .voice-actor img {
  width: 10%;
  margin-right: 15px;
  border-radius: 10px;
}

.anime-details-body-container
.anime-details-body-content
.anime-characters-and-staff-content
.characters-and-staff-content
.anime-character img {
  width: 40%;
  border-radius: 10px;
}

.anime-details-body-container
.anime-details-body-content
.anime-characters-and-staff-content
.characters-and-staff-content
.anime-character
.character-description {
  display: flex;
  flex-direction: column;
}